<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095668910941-ecbmc034tk85skmjt7ovm60r2daed5is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095668910941-ecbmc034tk85skmjt7ovm60r2daed5is</string>
	<key>API_KEY</key>
	<string>AIzaSyBizjcZ7SI8e5e_OqW7crtGiZqraFOt6Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>1095668910941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaharyarbaig.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-b95fe</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-b95fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095668910941:ios:62c7ee76b9628b9e0a76b4</string>
</dict>
</plist>